<!DOCTYPE html>
<html>
<head>
  <style>
    html,body {
      min-width: 600px;
      overflow: scroll;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>

<table style="width:100%">
  <tr>
    <td style="width:200px">
      <input id="name" type="number" [formControl]="num">
    </td>
    <td style="min-width:100px">
      <select id="fChoice" [formControl]="fChoice" (change)="selected($event)">
        <option disabled>Select Function</option>
        <option *ngFor="let fl of fList" [ngValue]="fl">{{fl}}</option>
      </select>
    </td>
    <td style="width:300px">
      <p>{{ result }}</p>
      <!--<p>func{{ fChoice.value }}</p>-->
    </td>
  </tr>
</table>

</body>
</html>
